body {
	background:#08547c;
	color: white;
	font-family: 'Montserrat', sans-serif;

}

/*INÍCIO DO CABAÇALHO DA PÁGINA (header)*/
header{
	background: #1494d4;
	padding: 10px;

}


.logo_alison1{
	position: relative;
	left: 30px;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	margin: 5px 0px 0px 25px;

}

.contatos{
	position: absolute;
	top:  70px;
	right: 200px;


}

.contatos li{
	display: inline-block;
	padding: 0 20px 0 0;
}

.redesocial_logo{
	width: 70px;
	border: 4px #08547c solid;
	border-radius: 20%;

}

.redesocial_logo:hover{
	border-color: #C78C19;


}

.redesocial_logo:active{
	border-color: #099C19;

}

.menu{
	position: relative;
	background: black;
	font-size: 13px;
	font-weight: bold;
	width: 100%;
	margin: 0 auto;
	padding: 15px;

}

nav a{
	text-decoration: none;
	color: white;

}

nav a:hover{
	text-decoration: underline;
	font-size: 15px;
	color: yellow;

}
/*FIM DO CABEÇALHO DA PÁGINA (header)*/


/*INÍCIO DA APRESENTAÇÃO (main)*/
.apresentacao{
	position: relative;
	display: inline-block;
	width: 940px;


}


.titulo-principal{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: yellow;
	margin: 25px auto;

}

.apresentacao h1{
	display: inline-block;
	color: yellow;
	font-weight: bold;
	font-size: 23px;
	text-align: center;
	margin: 15px auto;

}


.apresentacao p{
	display: inline-block;
	font-size: 20px;
	text-align: ;
	margin:  2em auto 2em;

}


.img-apresentacao{
	position: relative;
	float: left;
	margin: 150px 50px;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	border: yellow 5px solid;
}
	

.img-apresentacao:hover {
	border-color: #C78C19;
	cursor: pointer;
	transform: scale(1.1);
}

.img-apresentacao:active {
	border-color: green;

}
/*FIM DA APRESENTAÇÃO (main)*/


/*INÍCIO DO PORTIFÓLIO (section)*/
.portifolio{
	position: relative;
	background: white;
	margin: auto;
	padding: 50px;


}

.titulo_portifolio{
	color: #08547c;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	margin: 0px 0 20px 0;
	padding: 10px 0 30px 0;


	
		
}

.portifolio li{
	display: inline-block;
	color: #08547c;
	text-align: center;
	font-size: 20px;
	margin: 10px 8% 10px 8%;
	box-sizing: border-box;
	padding: 30px 20px;
	width: 30%;
	
	
}


.portifolio h2{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin: 0px auto 20px auto;
	vertical-align: top;

	
}



.descricao_produto{
	display: inline-block;
	position: relative;
	margin: 10px auto 10px auto;
	font-weight: bold;
	
}


.imagem_ransom{
	width: 260px;
	margin: 5% auto;
	border-radius: 10%;
	border: 5px #08547c solid;
	padding: 5px;



}

.imagem_barbearia{
	width: 200px;
	margin: 5% auto;
	border-radius: 10%;
	border: 5px #08547c solid;
	
}

.imagem_ransom:hover{
	border-color: #C78C19;


}

.imagem_ransom:active{
	border-color: #099C19

}

.imagem_barbearia:hover{
	border-color: #C78C19;

}

.imagem_barbearia:active{
	border-color: #099C19;
}
/*FIM DO PORTIFÓLIO (section)*/



/*INÍCIO DO MENU DE COTAÇÕES (section)*/
.titulo_cotacoes{
	color: yellow;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	margin: 20px 0 20px 0;
	padding: 10px 0 30px 0;


}

.descricao_cotacoes{
	font-size: 22px;
	width: 940px;
	margin: 20px auto 50px;
	line-height: 23px;

}

.tipos_seguros li{
	display: inline-block;
	text-align: center;
	font-size: 20px;
	margin: 10px 8% 10px 8%;
	box-sizing: border-box;
	padding: 30px 20px;
	width:30%;
}

.tipos_seguros h3{
	font-size: 25px;
	text-align: center;
	font-weight: bold;

	
}

.imagem_seguros{
	position: relative;
	width: 50%;
	border-radius: 20%;
	margin: 20px auto;
	padding: 5px;
	border: 5px yellow solid;

}

.imagem_seguros:hover{
	border-color: #C78C19;
}

.imagem_seguros:active{
	border-color: #099C19;
}
/*FIM DO MENU DE COTAÇÕES (section)*/


/*INÍCIO DA LOCALIDADE*/
.mapas{
	background:white;
	padding: 50px;
}

.mapas h4{
	font-size: 38px;
	text-align: center;
	color: #08547c;
	font-weight: bold;

}

.mapas p{
	color: #08547c;
	font-size:22px;
	font-weight: bold;
	text-align: center;
	margin: 2em;

}

/*FIM DA LOCALIDADE*/




/*INÍCIO RODAPÉ (footer)*/
footer{
	text-align: center;
	color: white;
	background: #1494d4;

}

.img_rodape{
	padding: 30px;

}

.copyright{
	padding: 10px;


}
/*FIM RODAPÉ (footer)*/