body{
	background:#08547c;
	color: white;

}

header{
	background: #1494d4;
	padding: 10px;

}


.logo_alison1{
	position: relative;
	left: 30px;
	width: 200px;
	margin: 5px 0px 0px 25px;

}

.contatos{
	position: absolute;
	top:  70px;
	right: 200px;


}

.contatos li{
	display: inline-block;
	padding-left: 20px;

}

.redesocial_logo{
	width: 70px;
	border: 4px #08547c solid;
	border-radius: 20%;

}

.redesocial_logo:hover{
	border-color: #C78C19;


}

.redesocial_logo:active{
	border-color: #099C19;

}

.menu{
	background-color: black;
	font-size: 15px;
	font-weight: bold;
	padding: 15px 5%;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	
}



nav a{
	text-decoration: none;
	color: white;

}

nav a:hover{
	text-decoration: underline;
	font-size: 20px;
	color: yellow;
}


main{
	width: 940px;
	margin: 0 auto;

}

div h2{
	text-align: center;
	color: yellow;
	font-weight: bold;
	font-size: 30px;
	padding: 20px;
	margin: 10px;
	font-family: 'Raleway', sans-serif;
}

div p{
	margin: 40px auto;
	font-family: 'Raleway', sans-serif;
}


form label, form legend{
	display:  block;
	margin: 10px 0 10px 0;
	font-size: 19px;
	font-family: 'Raleway', sans-serif;

}

.input-padrao{
	display: block;
	width: 50%;
	margin: 10px 0 10px 0;
	padding: 10px 10px;

}

.checkbox{
	display: block;
	margin: 10px;
	font-family: 'Raleway', sans-serif;
}

.enviar{
	margin: 10px 0;
	width: 50%;
	padding: 20px;
	font-weight: bold;
	background: orange;
	color: white;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: 0.5s;
	font-family: 'Raleway', sans-serif;
}

.enviar:hover{
	background: darkorange;
}

.enviar:active{
	background: green;
}


footer{
	text-align: center;
	color: white;
	background: #1494d4;

}

.img_rodape{
	padding: 30px;

}

.copyright{
	padding: 10px;
	font-family: 'Raleway', sans-serif;

}
