body {
	background:#08547c;
	color: white;
	font-family: 'Montserrat', sans-serif;

}

/*INÍCIO DO CABAÇALHO DA PÁGINA (header) ---- OK----*/
header{
	background: #1494d4;
	padding: 10px 0;
	width: 100%;

}


.logo_alison1{
	display: inline-block;
	position: relative;
	left: 30px;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	margin: 5px 0px 0px 25px;

}
.caixa-contatos{
	position: absolute;
	display: inline-block;
	margin: 70px 0px 15px 50%;

}


.contatos{
	position: relative;


}

.contatos li{
	display: inline-block;
	padding: 0 auto;
}

.redesocial_logo{
	width: 40px;
	border: 4px #08547c solid;
	border-radius: 20%;

}

.redesocial_logo:hover{
	border-color: #C78C19;


}

.redesocial_logo:active{
	border-color: #099C19;

}

.menu li{
	display:  inline-block;
	padding: 15px 0;
	text-transform: uppercase;


}

.menu{
	position: relative;
	background: black;
	font-size: 13px;
	font-weight: bold;
	width: 100%;
	margin: 0 auto;
	
}


nav a{
	text-decoration: none;
	color: white;
	margin: 20px;

}

nav a:hover{
	text-decoration: underline;
	color: yellow;

}
/*FIM DO CABEÇALHO DA PÁGINA (header)---- OK----*/


/*INÍCIO DA APRESENTAÇÃO (main)---- OK----*/
.img-apresentacao{
	display: block;
	position: relative;
	margin: 50px 40%;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	border: yellow 5px solid;
}
	

.img-apresentacao:hover {
	border-color: #C78C19;
	cursor: pointer;
	transform: scale(1.1);
}

.img-apresentacao:active {
	border-color: green;

}


.titulo-principal{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: yellow;
	margin: 10px auto;

}
.apresentacao{
	position: relative;
	display: inline-block;
	width: 0 50%;
	margin: 0px 15%;
	padding: 15px;
	box-sizing: border-box;

}


.apresentacao h1{
	display: block;
	color: yellow;
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	margin: 15px auto;

}


.apresentacao p{
	display: inline-block;
	font-size: 16px;
	text-align: ;
	margin: 2px;

}

/*FIM DA APRESENTAÇÃO (main)---- OK----*/


/*INÍCIO DO PORTIFÓLIO (section)---- OK----*/
.portifolio{
	position: relative;
	background: white;
	margin: auto;
	padding:10px;
	width: 100%;
	box-sizing: border-box;

 
}

.titulo_portifolio{
	color: #08547c;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	margin: 10px 0;
	padding: 10px 0;
	box-sizing: border-box;


	
		
}

.lista-portifolio{
	width: 100%;


}

.portifolio li{
	display: inline-block;
	color: #08547c;
	text-align: center;
	font-size: 20px;
	margin: 10px 8% 10px 8%;
	box-sizing: border-box;
	padding: 30px 20px;
	width: 30%;
	
	
}


.portifolio h2{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin: 0px auto 20px auto;
	vertical-align: top;

	
}



.descricao_produto{
	display: inline-block;
	position: relative;
	margin: 10px auto 15px auto;
	font-weight: bold;
	
}


.imagem_ransom{
	width: 200px;
	height: 200px;
	margin: 5% auto;
	border-radius: 10%;
	border: 5px #08547c solid;
	padding: 5px;

}

.imagem_barbearia{
	width: 200px;
	height: 200px;
	margin: 5% auto;
	border-radius: 10%;
	border: 5px #08547c solid;
	
}


.imagem_ransom:hover{
	transform: scale(1.1);
}



.imagem_barbearia:hover{
	transform: scale(1.1);
}

.imagem_ransom:hover{
	border-color: #C78C19;


}

.imagem_ransom:active{
	border-color: #099C19

}

.imagem_barbearia:hover{
	border-color: #C78C19;

}

.imagem_barbearia:active{
	border-color: #099C19;
}
/*FIM DO PORTIFÓLIO (section)---- OK----*/


/*INÍCIO DA LOCALIDADE---- OK----*/
.mapas{
	background: #08547c;
	padding: 50px;
}

.mapas h4{
	font-size: 38px;
	text-align: center;
	color: yellow;
	font-weight: bold;

}

.mapas p{
	color: white;
	font-size:22px;
	font-weight: bold;
	text-align: center;
	margin: 2em;

}

/*FIM DA LOCALIDADE---- OK----*/



/*INÍCIO RODAPÉ (footer)---- OK----*/
footer{
	text-align: center;
	color: white;
	background: #1494d4;
	margin: 0 auto;
	width: 100%;

}

.img_rodape{
	padding: 30px;

}

.copyright{
	padding: 10px;


}
/*FIM RODAPÉ (footer)---- OK----*/



/*INICIO MOBILE RESPONSIVE---- OK----*/

	@media screen and (max-width:  480px){

	.logo_alison1{
		width: 200px;
		height: 200px;
		margin: 0 20%;
		padding: 0 0 10px 0;
	}

	.caixa-contatos{
		position: relative;
		display: block;
		margin: 10px 20%;

	}

	.contatos li{
		margin: 0 5%;
	}


	.menu li{
		margin: 0 2.5%;
		padding: 15px 15px;
	}


	.img-apresentacao{
		margin: 50px 30%;
		width: 200px;
		height: 200px;

	}

	.apresentacao{
		margin: 0 5%;
	}


	.imagem_ransom, .imagem_barbearia{

		width: 80px;
		height: 80px;

	}

	.portifolio li{
		display:block;
		color: #08547c;
		text-align: center;
		font-size: 18px;
		margin: 10px;
		width: 100%;
		box-sizing: border-box;
	}


	.mapas h4{
		font-size: 30px;

	}

	.mapas p{
		font-size: 15px;

	}

	.tipos_seguros{
		background: white;
	}



	
/*FIM MOBILE RESPONSIVE---- OK----*/